header {
    grid-area: header;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-inverted-color);
    z-index: 20;
}

header nav {
    display: flex;
    position: relative;
    background-image: linear-gradient(to bottom, var(--bg-accent-color), var(--bg-accent-gradient-color) 70%);
    height: 100%;
}

header .menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
}

header .menu button {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

header .menu button i {
    font-size: 36px;
    vertical-align: bottom;
}

header ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    list-style-type: none;
    background-color: var(--bg-accent-gradient-color);
    width: 100%;
    padding: 1em;
    margin: 0;
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    z-index: -10;
    bottom: 1px;
    left: 0;
    right: 0;
    transition: transform .4s, visibility 0s linear .4s;
}

header ul li {
    display: flex;
    align-items: center;
    font-weight: 500;
    width: 100%;
    height: 2.5em;
}

header ul li.search {
    order: -1;
    margin-bottom: 2em;
}

header ul li.switch {
    margin-top: 2em;
}

header ul li a.active {
    font-weight: bold;
    border-bottom: 1px solid var(--text-inverted-color);
}

header ul li:hover a {
    border-bottom: 1px solid var(--text-inverted-color);
}

header.open ul {
    transform: translateY(calc(100%));
    visibility: visible;
    transition: transform .4s, visibility 0s linear 0s;
}

@media (min-width: 640px){
    header nav {
        align-items: center;
        justify-content: space-between;
    }

    header .menu {
        width: auto;
    }

    header .menu button {
        display: none;
    }

    header ul {
        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
        background: none;
        position: relative;
        z-index: auto;
        visibility: visible;
        transition: none;
    }

    header.open ul {
        transform: none;
    }

    header ul li {
        width: auto;
        margin: 0 1em;
        font-size: 0.8em;
        position: relative;
        left: 0;
        transition: left .3s;
    }

    header ul li.hidden {
        white-space: nowrap;
        left: -100%;
    }

    header ul li.search {
        order: 0;
        margin-bottom: 0;
    }

    header ul li.switch {
        margin-top: 0;
    }
}

@media (min-width: 1200px){
    header ul li.hidden {
        white-space: normal;
        left: 0;
        transition: none;
    }
}
