.list {
    margin-left: -4em;
    list-style-type: none;
}

.list .info {
    display: flex;
    align-items: flex-start;
    margin: 2em 0;
}

.list .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2em;
}

.list .description h2 {
    border-bottom: 2px solid var(--text-color);
    padding-bottom: .05em;
    font-size: 1.1rem;
}

.list .description p {
    font-size: 0.8rem;
}

.list .disabled {
    opacity: .5;
}

.list .disabled h2 {
    cursor: not-allowed;
}

@media (min-width: 640px){
    .list {
        margin-left: 0;
    }

    .list .info {
        align-items: center;
    }
}
