.search {
    display: flex;
    width: 100%;
    position: relative;
}

.search button {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.search button i {
    font-size: 36px;
    vertical-align: bottom;
}

.search input[type=search] {
    width: 100%;
    height: 36px;
    padding: 0 1em;
    background-color: var(--bg-interactive-accent-color);
    border: none;
    border-radius: 18px 0 0 18px;
    z-index: 20;
}

.search input[type=search]:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--border-interactive-color);
}

.search input[type=submit] {
    height: 36px;
    border: 2px solid var(--border-interactive-color);
    border-radius: 0 18px 18px 0;
    background-color: var(--bg-interactive-color);
    color: var(--bg-color);
    cursor: pointer;
    z-index: 10;
}

@media(min-width: 640px){
    .search {
        width: auto;
    }

    .search input[type="search"] {
        width: 0;
        padding: 0;
        visibility: hidden;
        transition: 
            width .3s ease-out .1s,
            visibility 0s ease-out .4s,
            padding .3s ease-out .1s;
    }

    .search input[type="search"].visible {
        width: 12rem;
        padding: 0 1em;
        visibility: visible;
        transition: 
            width .3s ease-out 0s,
            padding .3s ease-out 0s;
    }

    .search input[type="submit"] {
        width: 0;
        padding: 0;
        visibility: hidden;
        transform-origin: top left;
        transform: scaleX(-1);
        transition: 
            width .3s ease-in .1s,
            padding .3s ease-in .1s,
            visibility 0s ease-in .1s,
            transform .1s ease-in 0s;
    }

    .search input[type="submit"].visible {
        width: 6rem;
        padding: .1em .5em;
        visibility: visible;
        transform: scaleX(1);
        transition: 
            width .3s ease-out 0s,
            visibility 0s ease-out .3s,
            transform .1s ease-out .3s;
    }
}
