.container {
    margin: 0 0 1rem;
}

.container > div {
    margin: 0;
    min-height: calc(1.7rem + 1px);
    border-bottom: none;
}

.container iframe {
    width: 100%;
    border: 2px solid var(--border-interactive-color);
    background-color: #fff;
}
